.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 40px 30px;
    overflow: hidden;
    text-align: left;

}

.carousel-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.carousel-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}


.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: rgba(255, 255, 255, 1);
}


@media (max-width: 768px) {
    .carousel-container {
        margin: 20px 10px;

    }

    .carousel-image {
        height: 250px;

    }

    .carousel-dots {
        bottom: 10px;
    }
}